@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(black, rgb(95, 94, 94));
}

ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 3px double rgb(165, 160, 160);
  padding: 1px;
  font-size: 15px;
}

ul li:hover {
  transform: translate(5px, 5px);
}

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  display: flex;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  display: flex;
  margin-bottom: 5px;
  font-weight: bolder;
}

p {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  word-spacing: 3px;
  padding-left: 3%;
  padding-right: 5%;
  font-family: "Roboto", sans-serif;
  display: grid;
  margin-top: 5%;
  margin-bottom: 5px;
  font-weight: lighter;
  text-align: justify;
}

footer {
  background-color: rgb(161, 187, 44);
  border: double;
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .redes:hover {
  transform: scale(1.5);
}

@media (max-width: 499px) {
  header .menu {
    background-color: rgb(83, 100, 6);
    margin-bottom: 15px;
  }
  main .texto {
    border: 2px solid rgb(161, 187, 44);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .texto:hover {
    transform: translate(2px, 2px);
  }
  .imagenesLeyendas {
    display: grid;
    gap: 1%;
    padding: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  .imagenesLeyendas .leyendas {
    border: solid rgb(83, 100, 6);
    margin-bottom: 10px;
    margin-top: 1%;
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 500px) {
  header .menu {
    background-color: rgb(83, 100, 6);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .imagenesLeyendas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 3%;
    padding: 15px;
    justify-content: space-between;
    margin-top: 10px;
  }
  .imagenesLeyendas .leyendas {
    border: solid rgb(83, 100, 6);
    margin-bottom: 10px;
    margin-top: 1%;
    height: 150px;
    width: 150px;
  }
  main .texto {
    border: 2px solid rgb(161, 187, 44);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  main .texto:hover {
    transform: translate(2px, 2px);
  }
}
@media (min-width: 1024px) {
  header .menu {
    background-color: rgb(83, 100, 6);
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main .texto {
    border: 2px solid rgb(161, 187, 44);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-top: 2px;
  }
  main .texto:hover {
    transform: translate(2px, 2px);
  }
  .imagenesLeyendas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10%;
    padding: 30px;
    justify-content: space-between;
    margin-top: 10px;
  }
  .imagenesLeyendas .leyendas {
    border: solid rgb(83, 100, 6);
    margin-bottom: 10px;
    margin-top: 1%;
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 499px) {
  header .menu1 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  main .texto1 {
    border: 2px solid rgb(78, 78, 78);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto1:hover {
    transform: translate(2px, 2px);
  }
  .imagenHistoria {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .imagenHistoria .equipo {
    border: solid 4px rgb(78, 78, 78);
    border-radius: 4%;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 350px;
    height: 250px;
  }
}
@media (min-width: 500px) {
  header .menu1 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  main .texto1 {
    border: 2px solid rgb(78, 78, 78);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto1:hover {
    transform: translate(2px, 2px);
  }
  .imagenHistoria {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .equipo {
    border: solid 4px rgb(78, 78, 78);
    border-radius: 4%;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 450px;
    height: 350px;
  }
}
@media (min-width: 1024px) {
  header .menu1 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 15px;
  }
  main .texto1 {
    border: 4px solid rgb(78, 78, 78);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 50px;
  }
  main .texto1:hover {
    transform: translate(2px, 2px);
  }
  .imagenHistoria {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .imagenHistoria .equipo {
    border: solid 4px rgb(78, 78, 78);
    border-radius: 4%;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 550px;
    height: 450px;
  }
}
@media (max-width: 499px) {
  header .menu2 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(134, 4, 4);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  main .texto2 {
    border: 2px solid rgb(134, 4, 4);
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  main .texto2:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasMJ:hover {
    transform: translate(30px);
  }
  .imagenesJordan {
    background: rgb(134, 4, 4);
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin-bottom: 1%;
    padding-left: 10PX;
    padding-top: 2%;
  }
  .imagenesJordan .jordan {
    border-radius: 5%;
    border: solid 2px black;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 500px) {
  header .menu2 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(134, 4, 4);
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  main .texto2 {
    border: 2px solid rgb(134, 4, 4);
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  main .texto2:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasMJ:hover {
    transform: translate(30px);
  }
  .imagenesJordan {
    background: rgb(143, 1, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 1%;
  }
  .jordan {
    border-radius: 2%;
    border: solid 2px black;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  header .menu2 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(134, 4, 4);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  main .texto2 {
    border: 2px solid rgb(134, 4, 4);
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  main .texto2:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasMJ:hover {
    transform: translate(30px);
  }
  .imagenesJordan {
    background: rgb(143, 1, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 1%;
  }
  .jordan {
    border-radius: 5%;
    border: solid 5px black;
    margin-bottom: 30px;
    margin-top: 2%;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 499px) {
  header .menu3 {
    font-family: "Roboto", sans-serif;
    padding-bottom: 1px;
    background-color: rgb(163, 124, 27);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
  }
  main .texto3 {
    border: 2px solid rgb(163, 124, 27);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto3:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasKobe:hover {
    transform: translate(30px);
  }
  .imagenesKobe {
    background: rgb(163, 124, 27);
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 50% 50%;
    margin-bottom: 12px;
    padding-left: 10px;
    padding-top: 2%;
  }
  .imagenesKobe .kobe {
    border: solid 2px black;
    border-radius: 2%;
    margin-bottom: 12px;
    margin-top: 1%;
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 500px) {
  header .menu3 {
    font-family: "Roboto", sans-serif;
    padding-bottom: 1px;
    background-color: rgb(163, 124, 27);
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  main .texto3 {
    border: 2px solid rgb(163, 124, 27);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto3:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasKobe:hover {
    transform: translate(30px);
  }
  .imagenesKobe {
    background: rgb(163, 124, 27);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .kobe {
    border: solid 2px black;
    border-radius: 2%;
    margin-bottom: 12px;
    margin-top: 1%;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  header .menu3 {
    font-family: "Roboto", sans-serif;
    background-color: rgb(163, 124, 27);
    display: flex;
    justify-content: flex-end;
  }
  main .texto3 {
    border: 2px solid rgb(163, 124, 27);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto3:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasKobe:hover {
    transform: translate(30px);
  }
  .imagenesKobe {
    background: rgb(163, 124, 27);
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .kobe {
    border: solid 5px black;
    border-radius: 5%;
    margin-bottom: 30px;
    margin-top: 2%;
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 499px) {
  header .menu4 {
    font-family: "Roboto", sans-serif;
    padding-bottom: 1px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  main .texto4 {
    border: 2px solid blueviolet;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto4:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasLebron:hover {
    transform: translate(30px);
  }
  .imagenesLebron {
    background: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin-bottom: 5%;
  }
  .imagenesLebron .lebron {
    border: solid 2px black;
    border-radius: 5%;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 200px;
    height: 100px;
  }
}
@media (min-width: 500px) {
  .menu4 {
    font-family: "Roboto", sans-serif;
    padding-bottom: 1px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
  }
  main .texto4 {
    border: 2px solid blueviolet;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  main .texto4:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasLebron:hover {
    transform: translate(30px);
  }
  .imagenesLebron {
    background: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  .lebron {
    border: solid 2px black;
    border-radius: 2%;
    margin-bottom: 10px;
    margin-top: 1%;
    width: 350px;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  .menu4 {
    font-family: "Roboto", sans-serif;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
  }
  main h2 {
    font-size: 30px;
  }
  main .texto4 {
    border: 2px solid blueviolet;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  main .texto4:hover {
    transform: translate(2px, 2px);
  }
  main .mejoresJugadasLebron:hover {
    transform: translate(30px);
  }
  .imagenesLebron {
    background: blueviolet;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  .lebron {
    border: solid 5px bl;
    border-radius: 5%;
    margin-bottom: 30px;
    margin-top: 2%;
    width: 500px;
    height: 400px;
  }
}
@media (min-width: 500px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    display: flex;
  }
  p {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    word-spacing: 3px;
    padding-left: 1%;
    padding-right: 2%;
    font-family: "Roboto", sans-serif;
    display: grid;
    margin-bottom: 10px;
  }
  footer {
    background-color: rgb(161, 187, 44);
    border: double;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: flex;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    display: flex;
  }
  p {
    color: white;
    font-size: medium;
    font-weight: lighter;
    word-spacing: 5px;
    padding-left: 1%;
    padding-right: 2%;
    font-family: "Roboto", sans-serif;
    display: grid;
  }
  footer {
    background-color: rgb(161, 187, 44);
    border: double;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=sass.css.map */